.tendenciesTwoTemplate {
    margin-bottom: 2vw;
    @media (max-width: 768px) {
        margin-bottom: 6vw;
    }

    .boxFlex {
        display: flex;
        gap: 2.5vw;
        width: 100%;
        padding: 0 7vw;
        @media (max-width: 768px) {
            flex-wrap: nowrap;
            gap: 5vw;
            justify-content: start;
            overflow-x: auto;
        }
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        a {
            text-decoration: none;
        }

        .card {
            position: relative;
            width: calc(100% / 2);
            height: auto;
            border-radius: 2vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 768px) {
                justify-content: center;
                width: auto;
                border-radius: 5vw;
            }

            .boxImg {
                width: 100%;
                overflow: hidden;
                border-radius: 2vw;
                @media (max-width: 768px) {
                    border-radius: 5vw;
                }

                img {
                    filter: grayscale(1);
                    display: block;
                    position: relative;
                    width: 100%;
                    transition-duration: .3s;
                    @media (max-width: 768px) {
                        width: 65vw;
                    }
                }
            }

            .boxText {
                position: absolute;
                width: 23vw;
                height: 23vw;
                transform: rotate(270deg);
                bottom: 3.5vw;
                left: 3.4vw;
            
                @media (max-width: 768px) {
                    left: 3.5vw;
                    bottom: 5vw;
                }
                h3 {
                    color: #F0F70D;
                    font-size: 4.2vw;
                    font-weight: 700;
                    font-family: "Poppins", sans-serif;
                    @media (max-width: 768px) {
                        font-size: 6.5vw;
                    }
                }
            }

            &:hover {
                .boxImg {
                    img {
                        filter: grayscale(0);
                    }
                }
                .boxText {
                    h3 {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}